
<div th:fragment="header">
    <!--NAVBAR-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">ФСТО</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Главная</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="users">Участники</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Выдача</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            События
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="games">Игры</a></li>
                            <li><a class="dropdown-item" href="#">Турниры</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">прочие мероприятия</a></li>
                        </ul>
                    </li>
                    <!--<li class="nav-item">
                      <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>-->
                </ul>

                <!-- AUTENTIFICATION -->
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Войти
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Авторизация</a></li>
                            <li><a class="dropdown-item" href="#">Регистрация</a></li>
                        </ul>
                    </li>

                    <!--<li class="nav-item">
                      <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>-->
                </ul>
                <!-- AUTENTIFICATION -->

                <!-- SEARCH -->
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="То что вы ищите" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Искать</button>
                </form>
                <!-- SEARCH -->


            </div>
        </div>
    </nav>
    <!--NAVBAR-->
</div>